html,
body {
  height: 100%;
  width: 100%;
}

.ag-glitch_item {
  background-color: transparent;
  background-blend-mode: normal;
  background: url("../images/YonderTreeCat.png") no-repeat center;

  height: 40vh;
  background-size: contain;

  position: absolute;
  top: 22%;
  left: 5%;
  right: 5%;
  bottom: 5%;

  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.ag-glitch_item{
  opacity: 0;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.ag-glitch_item:nth-child(1) {
  background-color: transparent;
  background-blend-mode: overlay;
  -webkit-animation-name: glitch-anim-flash;
  animation-name: glitch-anim-flash;
}

@-webkit-keyframes glitch-anim-flash {
  0%, 5% {
    opacity: 0.5;
    -webkit-transform: translate3d(3px, 2px, 0);
    transform: translate3d(3px, 2px, 0); }
  5.5%, 10% {
    opacity: 0.5;
    -webkit-transform: translate3d(-3px, 0, 0);
    transform: translate3d(-3px, 0, 0); }
    10%, 100% {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }
  }

@keyframes glitch-anim-flash {
  0%, 5% {
    opacity: 0.5;
    -webkit-transform: translate3d(3px, 2px, 0);
    transform: translate3d(3px, 2px, 0); }
  5.5%, 10% {
    opacity: 0.5;
    -webkit-transform: translate3d(-3px, 0, 0);
    transform: translate3d(-3px, 0, 0); }
    10%, 100% {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }
  }



}
