html {
  scroll-behavior: smooth;
}

.topmenu {
  font-size: 1.5em;
}

.logoname {
  color: #f3f3f3;
  font-size: 2.2em;
}

.logosubname {
  padding-top: 1vh;
  font-size: 1.5em;
}

.topContainer {
  color: #f3f3f3;
  background-color: #222;
  padding-top: 30vh;
  padding-bottom: 0vh;
  height: 80vh;
}

.logoContainer {
  padding-top: 0vh;
  padding-bottom: 1vh;
}

.logoImage {
  height: 30vh;
}

.logoLinksContainer {
  padding-top: 3vh;
  padding-bottom: 5vh;
}

.arrowDown {
  font-size: 3.5em;
}

.servicesContainer {
  font-size: 1.1em;
  margin-left: auto;
  margin-right: auto;
  color: #ff9a00;
}

.services h4 {
  color: #ff9a00;
}

.section {
  padding-top: 20vh;
  padding-bottom: 30px;
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
}

#contact{
  padding-bottom: 5vh;
}

.endSections {
  padding-top: 2vh;
  color: #f3f3f3;
  background-color: #222;
}

.topNavParent {
  background-color: #222;
}

.topNav {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1400px) {
  .topNav {
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
  }
}

.navbar {
  background-color: #222;
}

.navbar-brand {
  color: #f3f3f3 !important;
}

.navbar-brand:hover {
  color: #ff9a00 !important;
}

.navbar-nav .nav-item .nav-link {
  color: #f3f3f3;
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
  color: #ff9a00;
}

.main {
  background-color: #222;
  font-family: 'Ubuntu', sans-serif;
  color: #f3f3f3;
}

.card-title {
  color: #ff9a00 !important;
}

.btn-dark {
  color: #222 !important;
  background-color: #ff9a00 !important;
  border-color: #ff9a00;
}

.btn-dark:hover {
  color: #f3f3f3 !important;
  background-color: #222 !important;
  border-color: #ff9a00;
}

/* Style the links inside the sidenav */
#mySidenav a {
  color: #191919;
  position: fixed;
  /* Position them relative to the browser window */
  right: 0px;
  /* Position them outside of the screen */
  padding-right: 0px;
  /* 15px padding */
  font-size: 40px;
  /* Increase font size */
}

#mySidenav a:hover {
  color: #ff9a00;
}
