.main
{
    font-family: 'Open Sans', sans-serif;
}

a:link { color: #000000; text-decoration: none}
a:visited { color: #000000; text-decoration: none}
a:hover { color: #3366CC; text-decoration: none}
a:active { color: #000000; text-decoration: none}

.img-circle {
    border-radius: 50%;
}

html, body {
    margin: 0px;
}

.jumbotron{
    margin: 0 !important;
}

:target:before {
content:"";
display:block;
height:90px; /* fixed header height*/
margin:-90px 0 0; /* negative fixed header height */
}

canvas {
    top: 0px;
    left: 0px;
    pointer-events:none;
}

.mouseArea{
    top: 0px;
    left: 0px;
    text-align: center;
    height: 100%;
    width: 100%;
}

.top {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
}

.mail{
    margin: 0;
    padding: 0;
}

.bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}