.main {
  font-family: 'Ubuntu', sans-serif;
  color: #191919;
}

#PostBody {
  text-align: left;
}

#PostBody a {
  color: #3366CC;
  text-decoration: none;
}

#PostDate {
  margin-bottom: -20px;
  font-size: 15px;
  font-style: italic;
  text-align: left;
}

.brandParent {
  position: relative;
  /* height: 150px; */
  width: 100%;
  text-align: center;
}

.brand {
  position: absolute;
  transform: translate(-50%);
}

.upper {
  background-color: transparent;
}

a:link {
  color: #F5F3F5;
  text-decoration: none
}

a:visited {
  color: #F5F3F5;
  text-decoration: none
}

a:hover {
  color: #E0CA3C;
  text-decoration: none
}

a:active {
  color: #F5F3F5;
  text-decoration: none
}

.img-circle {
  border-radius: 50%;
}

html, body {
  margin: 0px;
}

.jumbotron {
  margin: 0 !important;
  background-color: transparent !important;
}

.card {
  border: 0 !important;
  background-color: transparent !important;
}

:target:before {
  content: "";
  display: block;
  height: 90px;
  /* fixed header height*/
  margin: -90px 0 0;
  /* negative fixed header height */
}

.mouseArea {
  text-align: center;
}

.top {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}

.mail {
  margin: 0;
  padding: 0;
}

.bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.videocontainer {
  position: relative;
  overflow: hidden;
  background-color: white;
}

.videocontainer video {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  /*  object-fit is not supported on IE  */
  object-fit: cover;
  opacity: 0.8;
}

.videocontainer .container {
  z-index: 2;
  position: relative;
}
