
#PostBody {
  text-align: left;
}

#PostBody a {
  color: #3366CC;
  text-decoration: none;
}

#PostDate {
  padding-bottom: -20px;
  font-size: 15px;
  font-style: italic;
  text-align: left;
}

.brandParent {
  position: relative;
  /* height: 150px; */
  width: 100%;
  text-align: center;
}

.brand {
  position: absolute;
  transform: translate(-50%);
}

.upper {
  background-color: transparent;
}

a:link {
  color: #F5F3F5;
  text-decoration: none
}

a:visited {
  color: #F5F3F5;
  text-decoration: none
}

a:hover {
  color: #ff9a00;
  text-decoration: none
}

a:active {
  color: #F5F3F5;
  text-decoration: none
}

.img-circle {
  border-radius: 50%;
}

html, body {
  margin: 0px;
}

.jumbotron {
  margin: 0 !important;
  background-color: transparent !important;
}

.card {
  border: 0 !important;
  background-color: transparent !important;
}

.top {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}

.mail {
  margin: 0;
  padding: 0;
}

.bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

/* timeline */
.timeline{
  margin-top: 10px;
  width: 100%;
  height: 1px;
  border-style: solid;
  border-color: #F5F3F5;
  border-radius: 4px;
}
.timelinedot{
  margin-left: 45%;
  width: 15px;
  height: 15px;
  border-style: solid;
  border-color: #F5F3F5;
  border-width: 8px;
  border-radius: 10px;
}
.timelineitem{
  margin-top: -10px;
}
.timelineitem{
  font-size: 13px;
}
