.icon10{width: 10px !important;height: 10px !important;}
.icon20{width: 20px !important;height: 20px !important;}
.icon30{width: 30px !important;height: 30px !important;}
.icon40{width: 40px !important;height: 40px !important;}
.icon50{width: 50px !important;height: 50px !important;}
.icon60{width: 60px !important;height: 60px !important;}
.icon70{width: 70px !important;height: 70px !important;}
.icon80{width: 80px !important;height: 80px !important;}
.icon90{width: 90px !important;height: 90px !important;}
.icon100{width: 100px !important;height: 100px !important;}
.octicon-alert{content:url(../svg/alert.svg)}
.octicon-archive{content:url(../svg/archive.svg)}
.octicon-arrow-both{content:url(../svg/arrow-both.svg)}
.octicon-arrow-down{content:url(../svg/arrow-down.svg)}
.octicon-arrow-left{content:url(../svg/arrow-left.svg)}
.octicon-arrow-right{content:url(../svg/arrow-right.svg)}
.octicon-arrow-small-down{content:url(../svg/arrow-small-down.svg)}
.octicon-arrow-small-left{content:url(../svg/arrow-small-left.svg)}
.octicon-arrow-small-right{content:url(../svg/arrow-small-right.svg)}
.octicon-arrow-small-up{content:url(../svg/arrow-small-up.svg)}
.octicon-arrow-up{content:url(../svg/arrow-up.svg)}
.octicon-beaker{content:url(../svg/beaker.svg)}
.octicon-bell{content:url(../svg/bell.svg)}
.octicon-bold{content:url(../svg/bold.svg)}
.octicon-book{content:url(../svg/book.svg)}
.octicon-bookmark{content:url(../svg/bookmark.svg)}
.octicon-briefcase{content:url(../svg/briefcase.svg)}
.octicon-broadcast{content:url(../svg/broadcast.svg)}
.octicon-browser{content:url(../svg/browser.svg)}
.octicon-bug{content:url(../svg/bug.svg)}
.octicon-calendar{content:url(../svg/calendar.svg)}
.octicon-check{content:url(../svg/check.svg)}
.octicon-checklist{content:url(../svg/checklist.svg)}
.octicon-chevron-down{content:url(../svg/chevron-down.svg)}
.octicon-chevron-left{content:url(../svg/chevron-left.svg)}
.octicon-chevron-right{content:url(../svg/chevron-right.svg)}
.octicon-chevron-up{content:url(../svg/chevron-up.svg)}
.octicon-circle-slash{content:url(../svg/circle-slash.svg)}
.octicon-circuit-board{content:url(../svg/circuit-board.svg)}
.octicon-clippy{content:url(../svg/clippy.svg)}
.octicon-clock{content:url(../svg/clock.svg)}
.octicon-cloud-download{content:url(../svg/cloud-download.svg)}
.octicon-cloud-upload{content:url(../svg/cloud-upload.svg)}
.octicon-code{content:url(../svg/code.svg)}
.octicon-comment-discussion{content:url(../svg/comment-discussion.svg)}
.octicon-comment{content:url(../svg/comment.svg)}
.octicon-credit-card{content:url(../svg/credit-card.svg)}
.octicon-dash{content:url(../svg/dash.svg)}
.octicon-dashboard{content:url(../svg/dashboard.svg)}
.octicon-database{content:url(../svg/database.svg)}
.octicon-dependent{content:url(../svg/dependent.svg)}
.octicon-desktop-download{content:url(../svg/desktop-download.svg)}
.octicon-device-camera-video{content:url(../svg/device-camera-video.svg)}
.octicon-device-camera{content:url(../svg/device-camera.svg)}
.octicon-device-desktop{content:url(../svg/device-desktop.svg)}
.octicon-device-mobile{content:url(../svg/device-mobile.svg)}
.octicon-diff-added{content:url(../svg/diff-added.svg)}
.octicon-diff-ignored{content:url(../svg/diff-ignored.svg)}
.octicon-diff-modified{content:url(../svg/diff-modified.svg)}
.octicon-diff-removed{content:url(../svg/diff-removed.svg)}
.octicon-diff-renamed{content:url(../svg/diff-renamed.svg)}
.octicon-diff{content:url(../svg/diff.svg)}
.octicon-ellipsis{content:url(../svg/ellipsis.svg)}
.octicon-eye-closed{content:url(../svg/eye-closed.svg)}
.octicon-eye{content:url(../svg/eye.svg)}
.octicon-file-binary{content:url(../svg/file-binary.svg)}
.octicon-file-code{content:url(../svg/file-code.svg)}
.octicon-file-directory{content:url(../svg/file-directory.svg)}
.octicon-file-media{content:url(../svg/file-media.svg)}
.octicon-file-pdf{content:url(../svg/file-pdf.svg)}
.octicon-file-submodule{content:url(../svg/file-submodule.svg)}
.octicon-file-symlink-directory{content:url(../svg/file-symlink-directory.svg)}
.octicon-file-symlink-file{content:url(../svg/file-symlink-file.svg)}
.octicon-file-zip{content:url(../svg/file-zip.svg)}
.octicon-file{content:url(../svg/file.svg)}
.octicon-flame{content:url(../svg/flame.svg)}
.octicon-fold-down{content:url(../svg/fold-down.svg)}
.octicon-fold-up{content:url(../svg/fold-up.svg)}
.octicon-fold{content:url(../svg/fold.svg)}
.octicon-gear{content:url(../svg/gear.svg)}
.octicon-gift{content:url(../svg/gift.svg)}
.octicon-gist-secret{content:url(../svg/gist-secret.svg)}
.octicon-gist{content:url(../svg/gist.svg)}
.octicon-git-branch{content:url(../svg/git-branch.svg)}
.octicon-git-commit{content:url(../svg/git-commit.svg)}
.octicon-git-compare{content:url(../svg/git-compare.svg)}
.octicon-git-merge{content:url(../svg/git-merge.svg)}
.octicon-git-pull-request{content:url(../svg/git-pull-request.svg)}
.octicon-github-action{content:url(../svg/github-action.svg)}
.octicon-globe{content:url(../svg/globe.svg)}
.octicon-grabber{content:url(../svg/grabber.svg)}
.octicon-graph{content:url(../svg/graph.svg)}
.octicon-heart{content:url(../svg/heart.svg)}
.octicon-history{content:url(../svg/history.svg)}
.octicon-home{content:url(../svg/home.svg)}
.octicon-horizontal-rule{content:url(../svg/horizontal-rule.svg)}
.octicon-hubot{content:url(../svg/hubot.svg)}
.octicon-icons8-linkedin{content:url(../svg/icons8-linkedin.svg)}
.octicon-icons8-unity{content:url(../svg/icons8-unity.svg)}
.octicon-inbox{content:url(../svg/inbox.svg)}
.octicon-info{content:url(../svg/info.svg)}
.octicon-issue-closed{content:url(../svg/issue-closed.svg)}
.octicon-issue-opened{content:url(../svg/issue-opened.svg)}
.octicon-issue-reopened{content:url(../svg/issue-reopened.svg)}
.octicon-italic{content:url(../svg/italic.svg)}
.octicon-jersey{content:url(../svg/jersey.svg)}
.octicon-kebab-horizontal{content:url(../svg/kebab-horizontal.svg)}
.octicon-kebab-vertical{content:url(../svg/kebab-vertical.svg)}
.octicon-key{content:url(../svg/key.svg)}
.octicon-keyboard{content:url(../svg/keyboard.svg)}
.octicon-law{content:url(../svg/law.svg)}
.octicon-light-bulb{content:url(../svg/light-bulb.svg)}
.octicon-link-external{content:url(../svg/link-external.svg)}
.octicon-link{content:url(../svg/link.svg)}
.octicon-list-ordered{content:url(../svg/list-ordered.svg)}
.octicon-list-unordered{content:url(../svg/list-unordered.svg)}
.octicon-location{content:url(../svg/location.svg)}
.octicon-lock{content:url(../svg/lock.svg)}
.octicon-logo-gist{content:url(../svg/logo-gist.svg)}
.octicon-logo-github{content:url(../svg/logo-github.svg)}
.octicon-mail-read{content:url(../svg/mail-read.svg)}
.octicon-mail{content:url(../svg/mail.svg)}
.octicon-mark-github{content:url(../svg/mark-github.svg)}
.octicon-markdown{content:url(../svg/markdown.svg)}
.octicon-megaphone{content:url(../svg/megaphone.svg)}
.octicon-mention{content:url(../svg/mention.svg)}
.octicon-milestone{content:url(../svg/milestone.svg)}
.octicon-mirror{content:url(../svg/mirror.svg)}
.octicon-mortar-board{content:url(../svg/mortar-board.svg)}
.octicon-mute{content:url(../svg/mute.svg)}
.octicon-no-newline{content:url(../svg/no-newline.svg)}
.octicon-note{content:url(../svg/note.svg)}
.octicon-octoface{content:url(../svg/octoface.svg)}
.octicon-organization{content:url(../svg/organization.svg)}
.octicon-package{content:url(../svg/package.svg)}
.octicon-paintcan{content:url(../svg/paintcan.svg)}
.octicon-pencil{content:url(../svg/pencil.svg)}
.octicon-person{content:url(../svg/person.svg)}
.octicon-pin{content:url(../svg/pin.svg)}
.octicon-play{content:url(../svg/play.svg)}
.octicon-plug{content:url(../svg/plug.svg)}
.octicon-plus-small{content:url(../svg/plus-small.svg)}
.octicon-plus{content:url(../svg/plus.svg)}
.octicon-primitive-dot{content:url(../svg/primitive-dot.svg)}
.octicon-primitive-square{content:url(../svg/primitive-square.svg)}
.octicon-project{content:url(../svg/project.svg)}
.octicon-pulse{content:url(../svg/pulse.svg)}
.octicon-question{content:url(../svg/question.svg)}
.octicon-quote{content:url(../svg/quote.svg)}
.octicon-radio-tower{content:url(../svg/radio-tower.svg)}
.octicon-reply{content:url(../svg/reply.svg)}
.octicon-repo-clone{content:url(../svg/repo-clone.svg)}
.octicon-repo-force-push{content:url(../svg/repo-force-push.svg)}
.octicon-repo-forked{content:url(../svg/repo-forked.svg)}
.octicon-repo-pull{content:url(../svg/repo-pull.svg)}
.octicon-repo-push{content:url(../svg/repo-push.svg)}
.octicon-repo-template-private{content:url(../svg/repo-template-private.svg)}
.octicon-repo-template{content:url(../svg/repo-template.svg)}
.octicon-repo{content:url(../svg/repo.svg)}
.octicon-report{content:url(../svg/report.svg)}
.octicon-request-changes{content:url(../svg/request-changes.svg)}
.octicon-rocket{content:url(../svg/rocket.svg)}
.octicon-rss{content:url(../svg/rss.svg)}
.octicon-ruby{content:url(../svg/ruby.svg)}
.octicon-screen-full{content:url(../svg/screen-full.svg)}
.octicon-screen-normal{content:url(../svg/screen-normal.svg)}
.octicon-search{content:url(../svg/search.svg)}
.octicon-server{content:url(../svg/server.svg)}
.octicon-settings{content:url(../svg/settings.svg)}
.octicon-shield-check{content:url(../svg/shield-check.svg)}
.octicon-shield-lock{content:url(../svg/shield-lock.svg)}
.octicon-shield-x{content:url(../svg/shield-x.svg)}
.octicon-shield{content:url(../svg/shield.svg)}
.octicon-sign-in{content:url(../svg/sign-in.svg)}
.octicon-sign-out{content:url(../svg/sign-out.svg)}
.octicon-skip{content:url(../svg/skip.svg)}
.octicon-smiley{content:url(../svg/smiley.svg)}
.octicon-squirrel{content:url(../svg/squirrel.svg)}
.octicon-star{content:url(../svg/star.svg)}
.octicon-stop{content:url(../svg/stop.svg)}
.octicon-sync{content:url(../svg/sync.svg)}
.octicon-tag{content:url(../svg/tag.svg)}
.octicon-tasklist{content:url(../svg/tasklist.svg)}
.octicon-telescope{content:url(../svg/telescope.svg)}
.octicon-terminal{content:url(../svg/terminal.svg)}
.octicon-text-size{content:url(../svg/text-size.svg)}
.octicon-three-bars{content:url(../svg/three-bars.svg)}
.octicon-thumbsdown{content:url(../svg/thumbsdown.svg)}
.octicon-thumbsup{content:url(../svg/thumbsup.svg)}
.octicon-tools{content:url(../svg/tools.svg)}
.octicon-trashcan{content:url(../svg/trashcan.svg)}
.octicon-triangle-down{content:url(../svg/triangle-down.svg)}
.octicon-triangle-left{content:url(../svg/triangle-left.svg)}
.octicon-triangle-right{content:url(../svg/triangle-right.svg)}
.octicon-triangle-up{content:url(../svg/triangle-up.svg)}
.octicon-unfold{content:url(../svg/unfold.svg)}
.octicon-unmute{content:url(../svg/unmute.svg)}
.octicon-unverified{content:url(../svg/unverified.svg)}
.octicon-verified{content:url(../svg/verified.svg)}
.octicon-versions{content:url(../svg/versions.svg)}
.octicon-watch{content:url(../svg/watch.svg)}
.octicon-x{content:url(../svg/x.svg)}
.octicon-zap{content:url(../svg/zap.svg)}
