.icon10{width: 10px !important;height: 10px !important;}
.icon20{width: 20px !important;height: 20px !important;}
.icon30{width: 30px !important;height: 30px !important;}
.icon40{width: 40px !important;height: 40px !important;}
.icon50{width: 50px !important;height: 50px !important;}
.icon60{width: 60px !important;height: 60px !important;}
.icon70{width: 70px !important;height: 70px !important;}
.icon80{width: 80px !important;height: 80px !important;}
.icon90{width: 90px !important;height: 90px !important;}
.icon100{width: 100px !important;height: 100px !important;}
.octicon-unity{content:url(svg/unity.svg)}
.octicon-mail{content:url(svg/mail.svg)}
.octicon-mark-github{content:url(svg/mark-github.svg)}